@import '../../styles//variables.scss';

.styled-btn {
  &--link {
    &:not(:first-child) {
      margin-left: 1.75rem;
    }
  }

  &--btn {
    padding: 0.5rem 2rem;
    border: 1px solid $color-pink;
    background-color: $color-pink;
    color: $dark-text-color;
    border-radius: 9999px;
    font-size: 1rem;
    line-height: 1.5;

    & > div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    &.reverse {
      background-color: transparent;
      color: $color-pink;
    }
  }
}

.dark .styled-btn {
  &--btn {
    background-color: transparent;
    color: $color-pink;

    &.reverse {
      background-color: $color-pink;
      color: $dark-text-color;
    }
  }
}
